/* .wrapper {
  color: blue
} */

/* button {
  border: 2px solid green;
  padding: 5px;
  border-radius: 1em;
} */

#btn {
  border: 2px solid green;
  padding: 5px;
  border-radius: 1em;
}

#btn:hover {
  border: 3px dashed red;
  background-color: black;
  color: white;
}
